body, section, html, div, button {
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

.container {
  max-width: 100%;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit;
  margin: 0; }

button {
  border-style: none; }
